{% extends base_template|default:"base.htm" %}
{% load staticfiles %}


{% block content %}
<div class="container-fluid text-center mb-5 animated fadeIn">
    <h1><b><span class="text-primary">Patch</span><span class="text-secondary">Mate</span></b></h1>
    <h5 class="text-secondary">About</h5>
</div>

<section class="animated fadeIn" style="animation-delay: .25s;">
    <div class="container-fluid mb-5">
        <div>
            <p></p>
        </div>
    </div>
</section>
{% endblock content %}
